<header>
  <div class="header-left">
    <a routerLink="/">{{router.url === "/" ? "REGIONAL" : "<-" }}</a>
  </div>

  <div class="header-center"></div>

  <div class="header-right">
    <a routerLink="/help" style="text-decoration: none;"><label style="font-weight: 700;font-size: large;color: white;">?</label></a>
   <!--<a routerLink="/settings"><img src="assets/icons/settings.svg" /></a>-->
    <!-- <a routerLink="/leaderboard"><img src="assets/icons/leaderboard.svg" /></a> -->
    <!--<a routerLink="/stats">
      <img src="assets/icons/person-outline.svg" />
    </a>-->
  </div>
</header>
